fastapi
uvicorn
requests
python-multipart
websockets
openai
python-dotenv
pydantic[email]
pydantic-settings
PyJWT

sqlalchemy
aiosqlite
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
docx2txt

alembic
aiologger
aiofiles

passlib[bcrypt]